# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
/.navigation/
captures/

# Kotlin
/.kotlin

# VsCode
/.vscode

# Local config
local.properties
signing.properties

# OS
.DS_Store
Thumbs.db

# Keystores
*.keystore
*.jks

# Build
**/build/
**/dist/

# Private Firebase/Google config
app/google-services.json

# Release artifacts
*.apk
*.aab
